<%= render 'common/navbar' %>

<div class="container pt-3">
  <div class="row">
    <div class="col-12 col-md-6">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg", class: "w-100 cocktail-image", alt: "" %>
      <div class="text-right bg-light border rounded p-2">
        <h3><%= @cocktail.name %></h3>
        <div>
          <p><%= @cocktail.tagline %></p>
        </div>
        <div>
          <%= '💪' * @cocktail.strength %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="bg-white border rounded p-3">
        <!-- make this a full length button -->
        <% @cocktail.doses.each do |dose| %>
          <%= render 'ingredient_card', dose: dose %>
        <% end %>
        <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary btn-block" %>
        <%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, class: "btn btn-danger btn-block" %>
      </div>
    </div>
  </div>
</div>

