<%= render 'common/navbar' %>

<div class="container mt-3">
  <%= simple_form_for [@cocktail, @dose], html: { class: "text-left"} do |f| %>
    <%= f.error_notification message: "Please enter valid data" %>
    <%= f.simple_fields_for @ingredient do |i| %>
      <%= i.input :name %>
    <% end %>
    <%= f.input :description, :label => 'Amount in ml' %>

    <%= f.button :submit, class: "btn-outline-primary" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
  <% end %>
</div>
