<div class="card-cocktail">
  <% if cocktail.photo.file %>
    <%= cl_image_tag(cocktail.photo, crop: :scale) %>
  <% else %>
    <%= cl_image_tag('No_image_available_ow0nlp', height: 200, crop: :scale) %>
  <% end %>
  <div class="card-cocktail-infos">
    <div>
      <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
      <p><%= cocktail.tagline.length > 50 ?  "#{cocktail.tagline.slice(0, 50)} ..." : cocktail.tagline %></p>
    </div>
    <h2 class="card-cocktail-pricing"><%= cocktail.strength %></h2>
  </div>
</div>
